@import '../../../index.scss';

.quoteWrapper {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 1rem;
  border: 1px solid $light-gray;
  padding: 1rem;
  border-radius: 5px;
  justify-content: space-between;
  min-height: 8rem;

  .quote {
    font-weight: bolder;
    margin-bottom: 0.5rem;
    word-spacing: 0.5em;
    border-bottom: 1px solid $light-gray;
  }

  .author {
    color: $gray;
    margin-bottom: 0.5rem;
  }

  .button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid $green;
    background-color: $green;
    color: white;
    border-radius: 5px;
    width: fit-content;
    &:hover {
      background-color: white;
      color: $green;
    }
  }
}
