@import '../../index.scss';

.navbarContainer {
  background-color: $green;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: fixed;
  width: 100%;
  top: 0;

  .banner {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.4rem;
  }

  .navItem {
    background-color: white;
    color: $green;
    padding: 0.7rem;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 1rem;
    border-radius: 3px;
    border: 1px solid white;

    &:hover {
      background-color: $green;
      color: white;
    }
  }
}
